
    <amexio-nav
      [title]="'@NGRX/STORE'"
      [logo]="'assets/images/amexio-logo.png'">

      <amexio-nav-item position-right (onNavItemClick)="productListClickHandle()"
                       [title]="'Product List'" [type]="'button'" style="cursor: pointer;">
      </amexio-nav-item>

      <amexio-nav-item position-right (onNavItemClick)="cartClickHandle()"
                       [title]="'Cart'" [type]="'button'" style="cursor: pointer;">
      </amexio-nav-item>

      <amexio-nav-item position-right (onNavItemClick)="loginClickHandle()"
                       [title]="userName" [type]="'button'" style="cursor: pointer;">
      </amexio-nav-item>

    </amexio-nav>
<amexio-row>
  <amexio-column [size]="12" style="padding-top: 64px">
    {{userName}}
    <router-outlet></router-outlet>
  </amexio-column>
</amexio-row>

